@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Hubballi' cursive;
    font-family: 'Lato' sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background: linear-gradient(45deg,#8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background: #fff;
    width: 360px; 
    height: 70vh;
    padding: 25px;
    box-shadow: 5px 5px 14px rgba(0, 0, 0,0.5);
    border-radius: 8px;
}

/* h2{
    font-size: 25px ;
    position: relative;
}
.container h2::before{
    content: "";
    position: absolute;
    left: 0;
    top: 30px;
    width: 20px;
    height: 5px;
    background: linear-gradient(45deg, #8e1de2, #4a00e0);
    transition: all 0.5s;
}

.container h2:hover::before{
    width: 65px;
}

form{
    display: flex;
    flex-direction: column;
}

form .field-input{
    margin :10px;
    width: 300px;
}

.field-input input{
    border: 0;
    outline: 0;
    padding: 6px;
    margin: 4px;
    color: rgba(0,0,0,0.7);
    font-size: 20px;
    border-bottom: 1px solid black;
    width: 100%;
}

input[type= "submit"]{
    border: 0; outline: 0;
    padding: 6px;
    margin: 4px;
    width: 100%;
    height: 37px;
    transition: all 0.5s;
    font-size: 15px;
    font-weight: 500;
}

input[type= "submit"]:hover{
    background: black;
    color: #fff;
}

.footer{
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.footer span{
    color: rgba(0,0,0,0.7);
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.footer .social-media{
    padding: 6px;
    border-radius: 3px;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    margin-top: 5px;
    height: 34px;
}

.footer .social-media a i{
    text-decoration: none;
}


.footer .social-media.twitter{
    background: linear-gradient(to right,#56a7f2, #4688c5);
}

.footer .social-media.twitter:hover{
    background: #fff;
}

.footer .social-media.facebook{
    background: linear-gradient(to right,#3342cc, #5d9dda);
}

.footer .social-media.facebook:hover{
    background: #fff;
}

.footer .social-media.google{
    background: linear-gradient(to right,#f59403, #50e632);
}

.footer .social-media.google:hover{
    background: #fff;
} */

